<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.theodinproject.com/"><em>Odin Project</em></a> is a
  great site to learn web development with
  <a href="http://www.rubyonrails.org">Ruby on Rails</a>
  This is the Private-Events application for the curriculum.
</p>