<% provide(:title) %>
<h1>Help</h1>
<p>
  Get help on the Odin Project at the
  <a href="http://www.theodinproject.com/">Odin Project</a>.
  To get help on this Private-Events app, see the 
  <a href="http://www.theodinproject.com/ruby-on-rails/associations">Associations Section</a>.
</p>